body {
	line-height: 1.42857143;
  	color: #333;
  	background-color: #fff;
}

.no-padding {
  padding: 0;
}

.thumbnail {
	padding: 0;
	margin-bottom: 30px;
}

.thumbnail img {
	min-height: 240px;
}

.thumbnail .caption {
	padding: 20px;
}

.tutorial i {
	font-size: 10pt;
}

footer {
	background-color: #f8f8f8;
  	padding-top: 74px;
  	margin-top: 95px;
}
/*.add-sign {
	position: absolute;
  	bottom: 32%;
  	left: 80%;
}*/